<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical" android:layout_width="match_parent"
    android:layout_height="match_parent">


    <com.google.android.material.appbar.AppBarLayout
        android:layout_width="match_parent"
        android:id="@+id/appbar"
        android:elevation="20dp"
        android:layout_height="?attr/actionBarSize">

        <androidx.appcompat.widget.Toolbar
            android:id="@+id/settingstoolbar"
            android:layout_width="match_parent"
            android:layout_height="match_parent" />

    </com.google.android.material.appbar.AppBarLayout>

    <ImageView
        android:id="@+id/imageView2"
        android:layout_width="match_parent"
        android:layout_height="77dp"
        android:layout_marginTop="80px"
        app:srcCompat="@drawable/reswhite" />

    <TextView
        android:id="@+id/textView"
        android:layout_gravity="center_horizontal"
        android:layout_width="321dp"
        android:textAlignment="center"
        android:layout_marginTop="50px"
        android:layout_height="wrap_content"
        android:text="Anistream is an anime streaming app that allows users to stream anime with absolutely no ads and interruptions. Our app has a huge selection of anime that you cant even find on premium streaming services." />

    <Space
        android:layout_width="match_parent"
        android:layout_height="17dp" />
    <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="2dp"
            android:layout_weight="1"
            android:gravity="center"
            android:orientation="vertical">
        <View style="@style/Divider"/>
        <Button
                android:id="@+id/button"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:layout_gravity="center_horizontal"
                android:onClick="discord"
                android:background="@android:color/transparent"
                android:text="Discord"
                android:textColor="#FFFFFF" style="?android:attr/buttonStyle"/>
        <View style="@style/Divider"/>
        <Button
                android:id="@+id/buttonbackup"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:layout_gravity="center_horizontal"
                android:text="Backup Data"
                android:background="@android:color/transparent"
                android:textColor="#FFFFFF"/>
        <View style="@style/Divider"/>
        <Button
                android:id="@+id/buttonrestore"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:layout_gravity="center_horizontal"
                android:background="@android:color/transparent"
                android:text="Restore Data"
                android:textColor="#FFFFFF"/>
        <View style="@style/Divider"/>
    </LinearLayout>
    <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="0dip"
            android:layout_weight="1"
            android:gravity="center|bottom"
            android:orientation="vertical" >

    <TextView
        android:id="@+id/copyright"
        android:layout_width="match_parent"
        android:layout_height="20dp"
        android:fontFamily="@font/medium"
        android:text="© Riku32"
        android:textAlignment="center"
        android:textSize="13sp" />
    </LinearLayout>
</LinearLayout>